<!doctype html>
<html>
    <% include /common/head %>
    <body>
        <% include /common/nav %>  
    <div id="main-content">
    
    <section class="jumbotron white-text vertical-center text-center">
      <div class="container">
        <h1>The pulse of the <br> 
            dragon boat community</h1>
        <p>The best way to manage teams &amp; events.</p>
        <p><a href="#built-dragon-boating" class="btn btn-primary btn-lg">Learn more about Gushou</a></p>
      </div>
    </section>

    <section id="built-dragon-boating" class="dragon-boating spacing-top text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Built For Dragon Boating</h2>
          </div>
        </div>

        <div class="row">
          <div class="spacing-sm">
            <div class="col-md-4 col-divider">
              <div class="home-icons">
              <img src="/images/event-organizers.png">
              </div>
              <h3>Event organizers</h3>
              <p>Promote your event!  Reach your audience while streamlining registration, communication and race schedules.</p>
            </div>
            <div class="col-md-4 col-divider">
              <div class="home-icons">
              <img src="/images/team-captains.png">
              </div>
              <h3>Team captains</h3>
              <p>Save time! Easily manage your roster and practice schedule and streamline team communications.</p>
            </div>
            <div class="col-md-4">
              <div class="home-icons">
              <img src="/images/paddlers.png">
              </div>
              <h3>Paddlers</h3>
              <p>Connect with your team! Effectively manage your team emails and schedule and discover new opportunities.</p>
            </div>
          </div><!--spacing-sm-->
        </div>

        <div class="row">
            <div class="spacing-lg">
                <div class="col-md-12">
                    <h3>Save countless hours managing your dragon boat event,<br>
                        team or paddling schedule.</h3>

                    <a class="btn btn-primary btn-lg" href="/features" role="button">Explore features</a>
                </div>
            </div>
        </div>
      </div><!-- /.container-->
    </section>

    <section class="community-section white-text spacing-lg text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Community Powered</h2>
            <h3>Paddlers, team captains, steerers, drummers, coaches and organizers. <br>
                Connect with all these and more.</h3>

            <a href="/teams" class="btn btn-primary btn-lg">See who's using Gushou</a>
            <!-- <a href="{{pathFor 'paddlers'}}" class="btn btn-primary">See who's using Gushou</a> -->

              <div class="img-container">
                  <img src="images/gushou-team.png" class="img-responsive">
              </div>
            <!-- <div class="team-img-container">
                <img src="images/team-1.jpg" class="team-1 img-circle" />
                <img src="images/team-2.jpg" class="team-2 img-circle" />
                <img src="images/team-3.jpg" class="team-3 img-circle" />
                <img src="images/team-4.jpg" class="team-4 img-circle" />
                <img src="images/team-5.jpg" class="team-5 img-circle" />
                <img src="images/team-6.jpg" class="team-6 img-circle" />
                <img src="images/team-7.jpg" class="team-7 img-circle" />
                <img src="images/team-8.jpg" class="team-8 img-circle" />
                <img src="images/team-9.jpg" class="team-9 img-circle" />
                <img src="images/team-10.jpg" class="team-10 img-circle" />
                <img src="images/team-11.jpg" class="team-11 img-circle" />
            </div> -->
          </div>
        </div>
      </div> 
    </section>

    <section class="white-section spacing-top text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Join The Community, It's Free</h2>
            <h3>Use Gushou's core features for free as long as you wish.<br>
                Advanced features start as low as $5/user/year and are FREE in 2016</h3>

            <a href="/register" class="btn btn-primary btn-lg">Get started</a>

            <div class="img-container">
                <img src="images/gushou-app.png" class="img-responsive">
            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="testimonials-section white-text spacing-lg text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="quotes spacing-sm">
                <img src="images/quotation.png">
            </div>

            <h3>Using Gushou has been such a huge help with co-ordinating <br>
            my team practices and just getting all these guys together.<br>
            It has actually let me focus on dragonboating more.<br>
            I don't think I can ever go back to life without it!</h3>

            <img src="images/luke.jpg" class="img-circle">
            <span class="testimonial-text">

            <p><br>Luke Sequeira<br>
            <small>Team Captain, LA Thunder Dragons</small></p>
            </span>
          </div>
        </div>
      </div>
    </section>

    
        <!-- <footer>
            {{> mailChimp}}
        </footer> -->
    
    <div id="loading-spinner" class="hide"></div>
    </div> 
<!-- <div class="container">

            <div class="jumbotron text-center">
                <h1><span class="fa fa-lock"></span> Node Authentication</h1>

                <p>Login or Register with:</p>

                <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
                <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
            </div>
</div> -->
<% include /common/footer %>    
