	<footer>
		<section class="gray-section">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="spacing-sm">
							<form class="form-inline" id="send-newsletter">
								<p><strong>Sign up for our newsletter</strong></p>
								<p>Stay posted about all things Gushou</p>
								
								<div class="newsletter">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
										<input type="text" id="subscribe_email" class="mailchimp-email form-control" aria-label="Enter your email address" placeholder="Enter your email address">
										<div class="input-group-btn">
											<button type="submit" id="subscribe_btn" class="mailchimp-subscribe btn btn-signup">Subscribe</button>
										</div>
									</div>
								</div>

								<span id="sub_err_msgs" class=""></span>
								<span id="sub_succ_msgs" class=""></span>
							</form>
						</div>
					</div>
					<div class="col-md-6">
						<div class="spacing-sm footer-social">
							<p><strong>We're Social</strong></p>
							<p>Follow us on our official accounts</p>
							<div class="social">
								<a href="https://www.facebook.com/gogushou/" target="_blank"><i class="fa fa-facebook"></i></a>
								<a href="https://www.twitter.com/gogushou/" target="_blank"><i class="fa fa-twitter"></i></a>
								<a href="https://www.instagram.com/gogushou/" target="_blank"><i class="fa fa-instagram"></i></a>
								<a href="https://www.youtube.com/channel/UCKnJEjPUm8r4znStK7bK_fg" target="_blank"><i class="fa fa-youtube"></i></a>
								<a href="https://gogushou.wordpress.com/" target="_blank"><i class="fa fa-wordpress"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="spacing-lg text-center main-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-12 logo">
						<a href="/"><img src="/images/gushou-small-logo.png" alt="Gushou"></a>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<ul class="footer-nav">
							
							<li><a id="overviewlink" href="/"> Overview </a></li>
							<!-- <li><a href="/paddlers"> Paddlers </a></li> -->
							<li><a href="/events"> Events </a></li>
							<li><a href="/teams"> Teams </a></li>
							<li><a href="/features"> Features </a></li>
							<li><a id="pricing" href="/pricing"> Pricing </a></li>
							<li><a id="faqlink" href="/pricing#faq"> FAQ </a></li>
							<li><span id="termsConditionId">Terms</span></li>
							<li><span id="pPolicy">Privacy</span></li>
							
						</ul>
						<p><a href="mailto:dragonboat@gogushou.com">dragonboat@gogushou.com</a> | (1) 905.990.8900</p>
						<!-- <p>348 Lakeshore Road East, Unit 203, Mississauga, ON Canada.</p> -->
						<!-- <p>Phone:  (1) 905.990.8900</p> -->
						<span class="copyright"><p>Copyright 2015 Gushou Inc. | Toronto, Canada</p></span>
					</div>
				</div>
			</div>
		</section>
	</footer>
	</body>
</html>
    