<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    
    <link rel="stylesheet" href="css/style.css"> 
    <link rel="stylesheet" href="css/styles.css"> 
    <link rel="stylesheet" href="css/t_style.css"> 
    <link rel="stylesheet" href="css/u_style.css"> 
    <link rel="stylesheet" href="css/themify-icons.css"> 
    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <!-- <style>
        body        { padding-top:80px; }
    </style> -->
</head>